.Dungeon {
  width: 480px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #000;
  background-size: 100% auto;
  position: relative;
}

.Dungeon__BackBtn {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.Dungeon__BackBtn button {
  margin: auto;
}
