html,
body,
pre,
code,
kbd,
samp,
button {
  font-family: "Press Start 2P", cursive;
}

.App {
  width: 480px;
  margin: auto;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}

button.nes-btn {
  color: #fff;
}

.nes-container {
  background: #fff;
}
